<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>109022456520-isvhnet4sol2rv6o1cns5goodq8dg9oq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109022456520-isvhnet4sol2rv6o1cns5goodq8dg9oq</string>
	<key>API_KEY</key>
	<string>AIzaSyDRUi7BfqNMIETHTR8_nE7T2rqw5z3hazQ</string>
	<key>GCM_SENDER_ID</key>
	<string>109022456520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.godpp.Sticky</string>
	<key>PROJECT_ID</key>
	<string>sticky-e7e3c</string>
	<key>STORAGE_BUCKET</key>
	<string>sticky-e7e3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109022456520:ios:cdef35465d780660</string>
	<key>DATABASE_URL</key>
	<string>https://sticky-e7e3c.firebaseio.com</string>
</dict>
</plist>